@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend+Deca:wght@500&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dela Gothic One" , "Lexend Deca';
}

.seccion-bienvenida {
  padding-top: 16px;
  text-align: center;
  background-size: 100% 100%;
}

.seccion-bienvenida h1 {
  font-size: 35px;
  color: #f1f1f1;
  float: left;
}
.seccion-bienvenida h2 {
  font-size: 35px;
  color: #f1f1f1;
}
.seccion-bienvenida h3 {
  font-size: 35px;
  color: #f1f1f1;
}

.seccion-bienvenida p {
  font-size: 25px;
}

.nombre {
  line-height: 0.9em;
  font-size: 88px;
  line-height: 0.9em;
  font-family: "Playfair Display", serif;
  color: white;
}

.nombrepeq {
  line-height: 0.9em;
  font-size: 30px;
  line-height: 0.9em;
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
}

.texto {
  line-height: 2em;
  font-size: 21px;
}
.white {
  color: white;
}

.seccion-bienvenida-fondo-azul {
  background-color: rgb(52, 110, 204);
}

.container {
  display: flex;
  align-items: center;
  background-image: url("../img/fondo.jpg");
  height: 700px;
  width: 80%;
}
.container2 {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: 300px;
  width: 100%;
}
header {
  overflow: hidden;
  background-color: rgb(52, 110, 204);
  padding: 20px 10px;
  position: sticky;
  text-align: center;
}

header a {
  text-align: center;
  float: none;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: solid;
  font-size: 18px;
  line-height: 25px;
  border-radius: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header a:hover {
  background-color: rgb(157, 205, 228);
  color: whitesmoke;
}

header a.active {
  background-image: linear-gradient(to right, #b8c8eb, #ccc0e3);
  color: white;
}

.navbar {
  float: center;
}

.foto_cv {
  border-radius: 50%;
  border-color: rgb(52, 110, 204);
  border-width: 25%;
  height: 150px;
  float: center;
  margin-left: 25%;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
  color: rgb(52, 110, 204);
}

.texto {
  color: rgb(105, 117, 197);
  
}

.texto-centrado {
  text-align: center;
  font-size: large;
  font-style: italic;
  font-display: auto;
  color: white;
}

div.center {
  text-align: center;
  padding-top: 5%;
}

.row {
  display: flex;
  
}
.padre-flex{
  display: flex;
  flex-direction:row;
  align-items:baseline;
}

.footer {
  display: flex;
  flex-flow: column nowrap; 
  
}

.contacto {
  height: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right, rgb(86, 102, 193), rgb(187, 184, 244));  

}

.contacto > div {
  flex: 1;
}

.copyright {
  background-image: linear-gradient(to bottom right, rgb(115, 124, 173), rgb(180, 179, 204));
}

.redes-sociales {
  display:flex;
  align-content: flex-end;
}

.redes-sociales img {
  height: 100%;
  width: 30px;
}

.ancho{
  padding-left:20px;
}


button {
  border-style: double;
  border-radius: 20%;
}
ul{
  list-style-type: none;
}

.columna{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}