body {
    font-family: Arial, sans-serif;
    background-color: #fdbd12;
    margin: 0px;
    margin-left: 77px;
}

h1 {
    font-family: sans-serif;
    background-color: #fdbd12;
    margin: 0px;
    font-weight: bold;
    margin-left: 77px;
}

.navegador {
    background-color: white;
    position: initial;
    color: black;
    text-align: start;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center
}

.navegador ul {
    background-color: white;
    margin: 0px;
    list-style-type: none;
    color: black;
}

.navegador li {
    background-color: white;
    float: right;
    text-align: right;
    width: 10em;
    color: black;
    font-weight: bold;

}




.titulo {
    padding: 10px;
    float: right;
    font-weight: bold;
    margin-left: 77px;
}

li {
    font-family: sans-serif;
    color: black;
    text-align: left;
    text-decoration-thickness: auto;
    margin-left: 77px;

}


.fotocv {
    border-radius: 27%;
    border-width: 150px;
    border: 10px solid white;
    margin-top: 15px;
    margin-left: 25px;
    height: 500px;
    width: 450px;
}

.logo {
    border-radius: 0%;
    height: 120px;
    width: 33em;
}

p {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 77px;
}

.estudios {
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-right: 5%;
    margin-top: 15%;
    margin-left: 77px;

}


.idiomas {
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin-left: 77px;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%
}

.datospersonales {
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin-left: 77px;
    margin-right: 5%;
    margin-top: 15%;
}

.subtitulo {
    font-family: sans-serif;
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 77px;
}

.negritas {
    font-weight: bold;
}

.sinnegrita {
    font-weight: normal
}