body {
    font-family: Arial, sans-serif;
    background-color: #89BBE1;
    margin: 0px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #89BBE1;
    margin: 0px;
    font-weight: bold;
    margin-left: 77px;
}

h2 {
    font-weight: bold;
    margin-left: 77px;
    margin: 0px;
}

.navegador {
    background-color: white;
    position: initial;
    color: #0C2E47;
    text-align: start;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.navegador ul {
    background-color: white;
    margin: 0px;
    list-style-type: none;
    color: #0C2E47;
    position: initial;
    color: #0C2E47;
    text-align: start;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center
}


.navegador li {
    background-color: white;
    float: right;
    text-align: left;
    color: #0C2E47;
    font-weight: bold;

}


.titulo {
    padding: 10px;
    float: right;
    font-weight: bold;
    margin-left: 77px;
}

li {
    font-family: sans-serif;
    color: #0C2E47;
    text-align: left;
    text-decoration-thickness: auto;
    margin-left: 77px;

}


.fotocv {
    border-radius: 27%;
    border-width: 150px;
    border: 10px solid white;
    margin-top: 15px;
    margin-bottom: 140px;
    margin-left: 825px;
    height: 500px;
    width: 450px;
}

.logos {
    border-radius: 0%;
    height: 40px;
    width: 3em;
}

.logo {
    border-radius: 0%;
    height: 120px;
    width: 33em;
}
p {
    font-family: sans-serif;
    color: #0C2E47;
    text-align: left;
    font-weight: bold;
    margin-left: 77px;
}

.estudios {
    font-family: sans-serif;
    color: #0C2E47;
    text-align: center;
    margin-right: 5%;
    margin-top: 15%;
    margin-left: 77px;

}


.idiomas {
    font-family: sans-serif;
    color: #0C2E47;
    text-align: left;
    margin-left: 77px;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%
}

.datospersonales {
    font-family: sans-serif;
    color: #0C2E47;
    text-align: left;
    margin-left: 77px;
    margin-right: 5%;
    margin-top: 15%;
}

.subtitulo {
    font-family: sans-serif;
    color:#0C2E47;
    text-align: left;
    font-weight: bold;
    margin-left: 77px;
}

.negritas {
    font-weight: bold;
}

.sinnegrita {
    font-weight: normal
}
.footer{ background-color: white;
    margin: 0px;
    list-style-type: none;
    color: #0C2E47;
    position: initial;
    color: #0C2E47;
    text-align: start;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center}